.container {
    display: flex;
    flex-direction: column;
}

.searchContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 16px;

    input {
        width: 30vh;
        padding: 10px;
        border: 1px solid #b7b7b7;
        background-color: #ffffff;
        border-radius: 10px;
    }

    button {
        padding: 10px 20px;
        background-color: #7ba7d4;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            background-color: #5a8ac0;
        }
    }
}

.error {
    border-radius: 10px;
    padding: 5px 50px;
    background-color: rgba(255, 0, 0, 0.1);
    border: solid rgba(255, 0, 0, 0.494) 3px;
}

.resultsContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}