.container, .grid {
    background-color: #eaeaea;
    margin: 30px;
    border-radius: 30px;
    overflow: auto;
    padding: 30px;
}

.container {
    height: calc(100vh - 180px);
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    height: 350px;
    margin-bottom: 0;
}